{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center col-xs-12">
      <h1 class="card-title text-dark mt-2"><strong>Spotify Stats</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center col-xs-12">
      <div class="list-group mt-5 col-sm-12 col-md-12 col-lg-9">
        <form action="/top_tracks" method="post">
        <button class="list-group-item list-group-item-action">
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="{{url_for('static', filename='headphones.jpeg')}}" alt="headphones" class="img-fluid" width="200px">
              </div>
              <div class="col-9">
                <h2>Top Songs</h2>
                <p>See your top 50 Spotify songs and create a top-Songs playlist</p>
              </div>
            </div>
          </div>
        </button>
      </form>
      <form action="/top_artists" method="post">
        <button class="list-group-item list-group-item-action">
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="{{url_for('static', filename='mic.jpeg')}}" alt="headphones" class="img-fluid" width="200px">
              </div>
              <div class="col-9">
                <h2>Top Artists</h2>
                <p>See your top 50 Spotify albums</p>
              </div>
            </div>
          </div>
        </button>
      </form>
      <form action="/top_genres" method="post">
        <button class="list-group-item list-group-item-action">
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="{{url_for('static', filename='note.jpeg')}}" alt="headphones" class="img-fluid" width="200px">
              </div>
              <div class="col-9">
                <h2>Top Genres</h2>
                <p>See your top Spotify genres</p>
              </div>
            </div>
          </div>
        </button>
      </form>
     </div>
    </div>
  </div>
</div>
{% endblock %}
