{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center col-xs-12">
      <h1 class="card-title text-dark mt-2"><strong>Spotify Stats</strong></h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    {% if success %}
       <div class="alert alert-success col-sm-9 col-md-6 col-lg-6">Thank you for your message!</div>
    {% endif %}
  </div>
  <div class="row mt-5">
    <h4 id="dynamic-text" style="height: 2.5rem;">
    </h4>
    <h5>
      We're delighted to have you at Spotify Stats, the platform for music enthusiasts who want to learn more about their Spotify listening experiences.<br><br>
    </h5>

      <div class="col-lg-6 py-lg-4 pe-lg-5 bg-semiwhite" style="border-radius: 10px;">
        <h3 class="fw-semibold">Description</h3>
          <p>
            <strong>With our application, you can explore your Spotify statistics and obtain a wealth of information about your music preferences. You can easily view your top songs and artists and select the time period you wish to analyze.</strong><br><br>

          Our application uses the Spotify API in conjunction with the PKCE Authorization Workflow to ensure the security of your data and provide you with a seamless experience.<br><br>

          <strong>Whether you"re curious about which songs you"ve listened to the most, want to track your favorite artists over time, or simply wish to gain more insights into your music preferences, Spotify Stats is the right place for you.</strong><br><br>

          We're here to enrich your music experience and offer you entertaining insights into your musical world.<br><br>

          Thank you for choosing us to explore your Spotify statistics. Enjoy the journey through your music!<br>
          </p>
      </div>
      <div class="col-lg-6 py-lg-4 ps-lg-5 border-lg-start">
        <div class="list-group mt-5 col-sm-12 col-md-12 col-lg-9">
          <!-- Form for top tracks -->
          <form action="/top_tracks" method="post">
          <button class="list-group-item list-group-item-action bg-transparent highlight">
            <div class="container">
              <div class="row">
                <div class="col">
                  <!-- Image for top songs -->
                  <img src="{{url_for('static', filename='headphones.jpeg')}}" alt="headphones" class="img-fluid" width="200px"  style="border-radius: 30px;">
                </div>
                <div class="col-9">
                  <h2>Top Songs</h2>
                  <p>See your top 10 Spotify songs and <br>
                     create a top-Songs playlist</p>
                </div>
              </div>
            </div>
          </button>
        </form>
        <!-- Form for top artists -->
        <form action="/top_artists" method="post">
          <button class="list-group-item list-group-item-action bg-transparent highlight">
            <div class="container">
              <div class="row">
                <div class="col">
                  <!-- Image for top artists -->
                  <img src="{{url_for('static', filename='mic.jpeg')}}" alt="headphones" class="img-fluid" width="200px"  style="border-radius: 30px;">
                </div>
                <div class="col-9">
                  <h2>Top Artists</h2>
                  <p>See your top 10 Spotify albums</p>
                </div>
              </div>
            </div>
          </button>
        </form>
        <!-- Form for top genres -->
        <form action="/top_genres" method="post">
          <button class="list-group-item list-group-item-action bg-transparent highlight">
            <div class="container">
              <div class="row mt-4">
                <div class="col">
                  <!-- Image for top genres -->
                  <img src="{{url_for('static', filename='note.jpeg')}}" alt="headphones" class="img-fluid" width="200px"  style="border-radius: 30px;">
                </div>
                <div class="col-9">
                  <h2>Top Genres</h2>
                  <p>See your top Spotify genres</p>
                </div>
              </div>
            </div>
          </button>
        </form>
       </div>
      </div>
    </div>
  </div>
</div>
</div>

    <div class="invisble bg-transparent" style="height: 6rem;">
    </div>

<div class="card mt-5 bg-transparent blur border-0" style="border-radius: 30px;">
  <div class="card-body">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-6 py-lg-4 ps-lg-5 border-lg-start">

          <div class="container bg-transparent">
            <h2>Contact Form</h2>
            <form action="/contact" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>

        </div>
        <div class="col-lg-6 py-lg-4 pe-lg-5 bg-semidark mt-5" style="border-radius: 10px;">
          <h3 class="fw-semibold">Legal Notice </h3>

          <h5>Information</h5>
          <p>Paul Wenner<br>
          Germany</p>

          <h5>Contact:</h5>
          Email: <a href="mailto:paul.wenner@t-online.de">paul.wenner@t-online.de</a></p>

          <h5>Responsible for content</h5>
          <p>Paul Wenner<br>


          <h5>Disclaimer:</h5>
          <p>The content of our website has been compiled with meticulous care and to the best of our knowledge. However, we cannot assume any liability for the up-to-dateness, completeness or accuracy of any of the pages...</p>

          <h5>Copyright:</h5>
          <p>The content and works created by the site operators on these pages are subject to German copyright law.<br>
            Duplication, processing, distribution, and any form of commercialization of such material beyond the scope<br>
            of the copyright law require the prior written consent of the respective author or creator. Copies and downloads<br>
            of this website are only permitted for private, non-commercial use.</p>

        </div>

      </div>

</div>
{% endblock %}
