{% extends "layout.html" %}

{% block title %}
    Top Tracks
{% endblock %}

{% block main %}


    <div class="container">
        <div class="row">
            {% for genre in top_genres %}
                <!-- Iterate through the list of top genres -->
                <div class="col-md-4 mt-5 text-center d-flex align-items-center justify-content-center">
                    <div class="card bg-semiwhite navbar-shadow highlight" style="width: 18rem;">
                        <div class="card-body">
                            <!-- Display genre ranking -->
                            <h6 class="card-title">
                                #{{ loop.index }}
                            </h6>
                            <!-- Provide a link to listen to the genre on Spotify -->
                            <form action="/search_genre" method="post" target="_blank">
                                <!-- Create a button that submits the form with the genre value -->
                                <button class="genre-link" type="submit" name="search_genre" value="{{ genre[0] }}">{{ genre[0] }}</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 %}
                    </div><div class="row mt-5">
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
